.slider {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 16px;

    height: 50%;
    width: 50%;
}

.slider-btn {
    border: none;
    background: none;
    padding: 8px;
}

.slider-btn:is(.prev,.next)::after {
    content: '';

    display: block;
    width: 0;
    height: 0;
    border-width: 50px;
    border-style: solid;
    border-color: transparent;
}

.slider-btn.prev::after {
    border-left-width: 0;
    border-right-color: red;
}

.slider-btn.next::after {
    border-right-width: 0;
    border-left-color: green;
}