html, body {
    min-width: 500px;
    display: grid;
    min-height: 100vh;
    grid-template-areas:
    "header"
    "main"
    "footer" ;

    grid-template-rows: 75px 1fr 155px;
}

header,
main,
footer {
    display: flex;
    justify-content: center;
}

header {
    grid-area: header;
    background-color: red;


}

main {
    grid-area: main;
    background-color: green;


}

footer {
    grid-area: footer;
    background-color: blue;


}

.container {
    height: 100%;
    width: 100%;
    max-width: 1110px;
    padding: 16px;
    background-color: grey;

}
