* {
    margin: 0;
    padding: 0;
}

.gallery {
    width: 800px;
    height: 700px;
    border: 1px solid black;
    padding: 8px;
    margin: 8px;

    background-color: lightgrey;
}

.photo {
    width: 100%;
    height: 70%;
    background-color: green;
    overflow: hidden;
}

.preview {
    width: 100%;
    height: 29%;
    margin-top: 1%;

    text-align: center;
}

.preview ul {
    height: 100%;
}

.preview ul li {
    display: inline-block;
    width: 24.5%;
    height: 100%;
    background-color: blue;
}

/* .preview ul li:hover {
    outline: 2px solid black;
} */
 
.preview ul li a {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}