body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  color: #1765ff;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

#taskDescription::placeholder {
  text-align: center;
  line-height: 30px;
}

input {
  text-align: center;
  vertical-align: middle;
}

#taskName,
#taskDescription {
  min-width: 250px;
  border-radius: 15px;
}

#app {
  max-width: 800px;
  margin: 0 auto;
}

input,
textarea,
button {
  margin-bottom: 10px;
}

div > div {
  margin-bottom: 20px;
}

div > div > h2 {
  margin-bottom: 10px;
}

div > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #6300ff;
  /* padding: 10px; */
  margin-bottom: 10px;
  border-radius: 10px;
}

button {
  cursor: pointer;
  min-width: 200px;
  border-radius: 15px;
  color: white;
  background-color: #00f;
}

.wrapper__container {
  display: flex;
  justify-content: space-around;
}

#filterContainer,
#sortContainer {
  display: flex;
  justify-content: center;
  /* padding: 20px; */
  border: none;
}

#filterSelect,
#sortSelect {
  border-radius: 45px;
}

#filterSelect {
  width: 75px;
  height: 40px;
}

#sortSelect {
  width: 100px;
  height: 40px;
}

.select_wrapper {
  display: flex;
  /* padding: 20px; */
  border: none;
}

h2 {
  /* padding: 10px; */
  text-align: center;
}

h3 {
  padding: 10px;
  text-align: center;
}

h2,
h3 {
  color: #00f;
}
