body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  h1 {
    text-align: center;
    color: black; 
    margin-top: 20px;
    
  }
  #taskDetails {
    max-width: 600px;
    margin: 20px auto;
    background-color: lightgray;
    padding: 20px;
   /*  border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .taks_title {
    color: rgb(22, 20, 20);
  }
  
  .taks_title-button {
    background-color: rgb(31, 7, 250);
    color: rgb(238, 238, 243);
    /* border-radius: 15px; */
    cursor: pointer;
  }
  
  